@charset "utf-8";

//colors
@import "partials/_color.scss";

//Some bulma component
@import "partials/_bulma_component.scss";


// Bulma
@import "~bulma/bulma";

//Responsive
@import "partials/_responsive.scss";

//Responsive
@import "partials/_typography.scss";


//reuse
@import "partials/_reuse.scss";


.is-dark
{
	@extend %gradient_background;
	font-weight: bold;
}

.navbar-item
{
	font-weight: bold;
}

.is-active
{
	border-top: solid 2px $death-pink;
	color: $death-pink;
	transition: 500ms;
	@include tablet {
		display: inline-block;
	}
}

.footer
{
	color: $corn-silk;
	margin-top: 15px;
}

.navbar-menu
{
	border-top: none;
}

.dropdown, .tag
{
	cursor: pointer;
}


/****************************************************************************************************
		 MY ADDITIONAL HELPERS
*****************************************************************************************************/

::selection {
	color: #FFFFFF;
	background-color: #993366;
}

.my_center
{
	@extend %center;
}

a:hover
{
	color: $death_pink;
}

.is_hidden_mobile_tablet
{
	@include tablet {
		display: none;
	}
}

.container_mobile
{
	padding: 1em;
	@include desktop {
		margin-top: 3em;
	}
}

.mobile_menu_design
{
	color: $death-pink;
}

.mobile_icon_center
{
	@extend %center;
	@include desktop {
		display: none;
	}
}

.bold
{
	font-weight: bold;
}

.death_pink
{
	color: $death_pink;
}

.projects
{
	text-align: left;
	padding: 5%;
	margin: 4%;
}

.border_curve
{
	 border-radius: 15px 50px; 
}

.icon_wrapper
{
	 transform: rotate(-90deg);
}

pre
{
	background-color: $dark-purple;
	display: inline-block;
	color: $corn-silk;
	border-radius: 15px 50px; 
	width: 800px;
    height: 250px;
    font-weight: bold;

    @include tablet {
 	width: 300px;
    height: 250px;
	}

}

.social
{
  position: fixed;
  bottom: 35%;
  left: 0;
  writing-mode: vertical-rl;
}

.post
{
	@include tablet {
 	margin-left: 12px;
	}
}

.blog
{
	padding: 15%;
}



























































































