
// Update some of Bulma's component variables
$body-background-color: $dark-purple;
$body-color: $white;


$input-border-color: transparent;


$navbar-item-hover-background-color: $dark-purple;
$navbar-item-active-color: $death-pink;
$navbar-background-color: $dark-purple;
$navbar-item-color: $white;
$navbar-item-hover-color: $death-pink;

$card-background-color: $ghost-white;

$footer-background-color: $dark-purple-light;

//General dropdown 
$dropdown-content-background-color: $dark-purple-light;
$dropdown-item-color: $corn-silk;
$dropdown-item-hover-color: $link;
$dropdown-item-hover-background-color: $dark-purple-light;





