//colors
$corn-silk: #FFF8DC;
$death-pink: #C60A86;
$black: #000000;
$dark-purple: #1B042C;
$white: #FFFFFF;
$ghost-white: #f1f1f1;
$dark-purple-light: #23043B;//#25023F;
$green: #00d1b2;
$yellow_green: #556B2F;

//Renaming default bulma color
$link: $death-pink;



