
@media print
{
	*
	{
		background: transparent !important;
		color: #000 !important; //* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	p, h1, h3
	{
		orphans: 3; /* http://css-tricks.com/almanac/properties/o/orphans/ */
		widows: 3; /* http://css-tricks.com/almanac/properties/w/widows/ */
	}

	h2, h3 
	{
		page-break-after: avoid; /* by pulling the heading onto the next page */
	}

}