// Update some of Bulma's component 

$navbar-background-color: $dark-purple-light;

$pagination-current-background-color: $dark-purple;

$pagination-current-color: $death-pink;

//$pagination-active-color: $link-active !default

//$pagination-focus-color: $link-focus !default