//colors
$corn-silk: #FFF8DC;
$death-pink:  #FF1493;
$black: #000000;
$dark-purple: #23043B;
$white: #FFFFFF;
$ghost-white: #f1f1f1;
$dark-purple-light: #2C0448;//;
$lighter-purple: #340659;
$green: #00d1b2;
$yellow_green: #556B2F;
$lighter-green: #add45c;

//Renaming default bulma color
$link: $death-pink;



